__pycache__/
.archive/

*.tmp
*.jpg
*.png
*.jpeg
*.diff.html
*.inspect.ndjson
*.[dD][oO][cC][xX]
*.[xX][lL][sS][xX]
*.[xX][lL][sS][mM]
*.[zZ][iI][pP]

order_*_paragraphs.txt

/Documents/Orders/**/*
!/Documents/Orders/**/
!/Documents/Templates/**/*

outputs/
node_modules/

!.gitkeep
!Накази.xlsx